body {
    font-family: 'Roboto Slab', serif;
}

/* Designing the Banner */
.banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    width: 100%;
    padding: 50px 240px 0px 240px;
    margin-bottom: 175px;

}

.banner img {

    width: 635px;
    /* border: 2px solid black; */
}

.banner-content {
    width: 708px;
    /* border: 2px solid black; */
}

.banner h1 {
    color: #272727;
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 0px;
}

.banner p {
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(226, 68, 102);
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.banner button:hover {
    background-color: rgb(59, 56, 56);

}

/* styling featured part */
.featured {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* border: 2px solid black; */
}

.featured>h3 {
    text-align: center;
    color: #272727;
    font-size: 40px;

}

.featured>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-pic-container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    margin: auto;
}

.featured-pic {
    text-align: center;
}

.featured-pic img {
    width: 460px;
    margin-bottom: 30px;
}

.featured-pic a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

.deal-container {
    width: 100%;
    background-color: rgb(234, 226, 235);
    display: flex;
    padding: 100px 400px;
    margin-top: 100px;
}

.deal img {
    width: 320px;
    margin-left: 100px;

}

.deal-content {
    text-align: center;
    width: 600px;
    margin-right: 100px;
    margin-top: 100px;
}

.deal-content h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;

}


.deal-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.deal-content button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(226, 68, 102);
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.insta {
    width: 600px;
    margin: auto;
    text-align: center;
}

.insta h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.insta p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.insta-container {
    width: 1540px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

/* designing find */

.find {
    width: 600px;
    margin: 100px auto;
    background-color: rgb(37, 36, 37);
    color: white;
    border: 5px solid black;
    border-radius: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px 40px;
    font-size: 20px;

}

.find div {
    margin: 20px 0;
}

.find h3 {

    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}


#name {
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
}

#price {
    font-size: 22px;
}

.submit {
    /* border: 2px solid red; */

    display: flex;
}

#submit {
    margin: auto;
    align-self: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 18px;
    border: 2px solid white;
    font-weight: 600;
    color: white;
    background-color: black;
}

#submit:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}


/* starting latest deal section */
.latest {
    background: url(../images/latest-background.png);
    width: 1440px;
    margin: 130px auto;
    padding-top: 110px;

}

.latest-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    /* border: 3px solid blue; */
    margin-bottom: 0;
}

.latest-content {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}